In [85]:
from algoshort.yfinance_handler import YFinanceDataHandler

# Initialize with custom chunk size
handler = YFinanceDataHandler(cache_dir="./cache")

In [86]:
symbols = ['A2A.MI', 'FTSEMIB.MI']
handler.download_data(symbols, period='5y')

2025-09-10 10:03:27,529 - INFO - Loaded A2A.MI from cache
2025-09-10 10:03:27,532 - INFO - Loaded FTSEMIB.MI from cache
2025-09-10 10:03:27,532 - INFO - Cache hits: 2, Downloads needed: 0

{'A2A.MI': Price           open      high       low     close   volume
 Date
 2020-09-10  0.974644  0.977753  0.952882  0.958323  9705867
 2020-09-11  0.962209  0.969981  0.956768  0.963763  6708910
 2020-09-14  0.969981  0.969981  0.955602  0.958711  5094421
 2020-09-15  0.961043  0.971147  0.952493  0.968038  6821368
 2020-09-16  0.964152  0.967261  0.954825  0.959877  6329082
 ...              ...       ...       ...       ...      ...
 2025-09-04  2.098000  2.130000  2.096000  2.116000  6425903
 2025-09-05  2.118000  2.134000  2.109000  2.127000  5181825
 2025-09-08  2.128000  2.131000  2.106000  2.106000  5032625
 2025-09-09  2.103000  2.114000  2.102000  2.112000  5528723
 2025-09-10  2.111000  2.111000  2.101000  2.102000   498197

 [1273 rows x 5 columns],
 'FTSEMIB.MI': Price               open          high           low         close     volume
 Date
 2020-09-10  19786.000000  19971.000000  19692.000000  19820.000000  462606700
 2020-09-11  19790.000000  19876.000000  19698.000000  19821.000000  357726000
 2020-09-14  19943.000000  19968.000000  19725.000000  19794.000000  270291800
 2020-09-15  19831.000000  20043.000000  19718.000000  19957.000000  337754900
 2020-09-16  19982.000000  20033.000000  19803.000000  19964.000000  338233900
 ...                  ...           ...           ...           ...        ...
 2025-09-04  41843.000000  42089.000000  41716.000000  41990.000000  471872200
 2025-09-05  42157.000000  42203.000000  41468.000000  41608.000000  354227700
 2025-09-08  41815.000000  41879.000000  41628.000000  41724.000000  307688100
 2025-09-09  41844.000000  42086.000000  41752.000000  42008.000000  420502200
 2025-09-10  42079.011719  42144.171875  42004.390625  42073.949219          0

 [1273 rows x 5 columns]}

In [87]:
handler.list_available_data()

{'A2A.MI': {'rows': 1273,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2020-09-10 00:00:00 to 2025-09-10 00:00:00',
  'missing_values': np.int64(0)},
 'FTSEMIB.MI': {'rows': 1273,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2020-09-10 00:00:00 to 2025-09-10 00:00:00',
  'missing_values': np.int64(0)}}

In [88]:
handler.symbols

['A2A.MI', 'FTSEMIB.MI']

In [89]:
data = handler.get_data('A2A.MI')
data

Price           open      high       low     close   volume
Date
2020-09-10  0.974644  0.977753  0.952882  0.958323  9705867
2020-09-11  0.962209  0.969981  0.956768  0.963763  6708910
2020-09-14  0.969981  0.969981  0.955602  0.958711  5094421
2020-09-15  0.961043  0.971147  0.952493  0.968038  6821368
2020-09-16  0.964152  0.967261  0.954825  0.959877  6329082
...              ...       ...       ...       ...      ...
2025-09-04  2.098000  2.130000  2.096000  2.116000  6425903
2025-09-05  2.118000  2.134000  2.109000  2.127000  5181825
2025-09-08  2.128000  2.131000  2.106000  2.106000  5032625
2025-09-09  2.103000  2.114000  2.102000  2.112000  5528723
2025-09-10  2.111000  2.111000  2.101000  2.102000   498197

[1273 rows x 5 columns]

In [90]:
data = handler.get_data('FTSEMIB.MI')
data

Price               open          high           low         close     volume
Date
2020-09-10  19786.000000  19971.000000  19692.000000  19820.000000  462606700
2020-09-11  19790.000000  19876.000000  19698.000000  19821.000000  357726000
2020-09-14  19943.000000  19968.000000  19725.000000  19794.000000  270291800
2020-09-15  19831.000000  20043.000000  19718.000000  19957.000000  337754900
2020-09-16  19982.000000  20033.000000  19803.000000  19964.000000  338233900
...                  ...           ...           ...           ...        ...
2025-09-04  41843.000000  42089.000000  41716.000000  41990.000000  471872200
2025-09-05  42157.000000  42203.000000  41468.000000  41608.000000  354227700
2025-09-08  41815.000000  41879.000000  41628.000000  41724.000000  307688100
2025-09-09  41844.000000  42086.000000  41752.000000  42008.000000  420502200
2025-09-10  42079.011719  42144.171875  42004.390625  42073.949219          0

[1273 rows x 5 columns]

In [91]:
handler.get_ohlc_data('A2A.MI')

Price       date      open      high       low     close
0     2020-09-10  0.974644  0.977753  0.952882  0.958323
1     2020-09-11  0.962209  0.969981  0.956768  0.963763
2     2020-09-14  0.969981  0.969981  0.955602  0.958711
3     2020-09-15  0.961043  0.971147  0.952493  0.968038
4     2020-09-16  0.964152  0.967261  0.954825  0.959877
...          ...       ...       ...       ...       ...
1268  2025-09-04  2.098000  2.130000  2.096000  2.116000
1269  2025-09-05  2.118000  2.134000  2.109000  2.127000
1270  2025-09-08  2.128000  2.131000  2.106000  2.106000
1271  2025-09-09  2.103000  2.114000  2.102000  2.112000
1272  2025-09-10  2.111000  2.111000  2.101000  2.102000

[1273 rows x 5 columns]

In [92]:
handler.get_ohlc_data('FTSEMIB.MI')

Price       date          open          high           low         close
0     2020-09-10  19786.000000  19971.000000  19692.000000  19820.000000
1     2020-09-11  19790.000000  19876.000000  19698.000000  19821.000000
2     2020-09-14  19943.000000  19968.000000  19725.000000  19794.000000
3     2020-09-15  19831.000000  20043.000000  19718.000000  19957.000000
4     2020-09-16  19982.000000  20033.000000  19803.000000  19964.000000
...          ...           ...           ...           ...           ...
1268  2025-09-04  41843.000000  42089.000000  41716.000000  41990.000000
1269  2025-09-05  42157.000000  42203.000000  41468.000000  41608.000000
1270  2025-09-08  41815.000000  41879.000000  41628.000000  41724.000000
1271  2025-09-09  41844.000000  42086.000000  41752.000000  42008.000000
1272  2025-09-10  42079.011719  42144.171875  42004.390625  42073.949219

[1273 rows x 5 columns]

In [93]:
handler.calculate_relative_prices(symbol='A2A.MI', benchmark_symbol='FTSEMIB.MI')

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose
0,2020-09-10,0.974644,0.977753,0.952882,0.958323,0.9746,0.9778,0.9529,0.9583
1,2020-09-11,0.962209,0.969981,0.956768,0.963763,0.9622,0.9699,0.9567,0.9637
2,2020-09-14,0.969981,0.969981,0.955602,0.958711,0.9713,0.9713,0.9569,0.9600
3,2020-09-15,0.961043,0.971147,0.952493,0.968038,0.9544,0.9645,0.9460,0.9614
4,2020-09-16,0.964152,0.967261,0.954825,0.959877,0.9572,0.9603,0.9479,0.9530
...,...,...,...,...,...,...,...,...,...
1268,2025-09-04,2.098000,2.130000,2.096000,2.116000,0.9903,1.0054,0.9893,0.9988
1269,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.0089,1.0165,1.0046,1.0132
1270,2025-09-08,2.128000,2.131000,2.106000,2.106000,1.0109,1.0123,1.0004,1.0004
1271,2025-09-09,2.103000,2.114000,2.102000,2.112000,0.9922,0.9974,0.9918,0.9965
1272,2025-09-10,2.111000,2.111000,2.101000,2.102000,0.9944,0.9944,0.9897,0.9902

In [94]:
# Download multiple tech stocks
symbols = ['CEM.MI', 'BZU.MI']
handler.download_data(symbols, period='5y')

2025-09-10 10:03:27,637 - INFO - Loaded CEM.MI from cache
2025-09-10 10:03:27,646 - INFO - Loaded BZU.MI from cache
2025-09-10 10:03:27,649 - INFO - Cache hits: 2, Downloads needed: 0

{'CEM.MI': Price            open       high        low      close  volume
 Date
 2020-09-10   5.344641   5.371276   5.318006   5.326885   29644
 2020-09-11   5.264738   5.362397   5.264738   5.362397   12766
 2020-09-14   5.326885   5.344641   5.211469   5.255860   40421
 2020-09-15   5.238104   5.371276   5.238104   5.255860  126438
 2020-09-16   5.300250   5.353519   5.282494   5.335763   55672
 ...               ...        ...        ...        ...     ...
 2025-09-04  13.600000  14.220000  13.600000  14.100000   66795
 2025-09-05  14.140000  14.140000  13.940000  14.020000   40872
 2025-09-08  13.900000  14.260000  13.900000  14.120000   21513
 2025-09-09  14.220000  14.220000  14.040000  14.080000   18394
 2025-09-10  14.200000  14.200000  14.040000  14.040000    1359

 [1273 rows x 5 columns],
 'BZU.MI': Price            open       high        low      close  volume
 Date
 2020-09-10  18.706814  18.927651  18.513581  18.752821  438075
 2020-09-11  18.651604  19.111684  18.651604  19.056473  301722
 2020-09-14  19.212901  19.268112  18.844838  19.065676  291651
 2020-09-15  19.130088  19.369328  19.065675  19.231304  232755
 2020-09-16  19.185298  19.498152  19.185298  19.452143  329812
 ...               ...        ...        ...        ...     ...
 2025-09-04  43.480000  44.660000  43.180000  44.560001  399567
 2025-09-05  44.720001  44.919998  44.119999  44.240002  253959
 2025-09-08  44.419998  45.320000  44.400002  45.160000  240982
 2025-09-09  45.160000  45.939999  44.980000  45.680000  486182
 2025-09-10  45.500000  45.779999  45.500000  45.540001   26981

 [1273 rows x 5 columns]}

In [95]:
handler.calculate_relative_prices(symbol='BZU.MI', benchmark_symbol='FTSEMIB.MI')

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose
0,2020-09-10,18.706814,18.927651,18.513581,18.752821,18.7068,18.9277,18.5136,18.7528
1,2020-09-11,18.651604,19.111684,18.651604,19.056473,18.6507,19.1107,18.6507,19.0555
2,2020-09-14,19.212901,19.268112,18.844838,19.065676,19.2381,19.2934,18.8696,19.0907
3,2020-09-15,19.130088,19.369328,19.065675,19.231304,18.9988,19.2364,18.9348,19.0993
4,2020-09-16,19.185298,19.498152,19.185298,19.452143,19.0469,19.3575,19.0469,19.3118
...,...,...,...,...,...,...,...,...,...
1268,2025-09-04,43.480000,44.660000,43.180000,44.560001,20.5233,21.0803,20.3817,21.0331
1269,2025-09-05,44.720001,44.919998,44.119999,44.240002,21.3024,21.3977,21.0166,21.0738
1270,2025-09-08,44.419998,45.320000,44.400002,45.160000,21.1007,21.5282,21.0912,21.4522
1271,2025-09-09,45.160000,45.939999,44.980000,45.680000,21.3072,21.6752,21.2222,21.5525
1272,2025-09-10,45.500000,45.779999,45.500000,45.540001,21.4339,21.5658,21.4339,21.4528

In [96]:
handler.calculate_relative_prices(symbol='CEM.MI', benchmark_symbol='FTSEMIB.MI')

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose
0,2020-09-10,5.344641,5.371276,5.318006,5.326885,5.3446,5.3713,5.3180,5.3269
1,2020-09-11,5.264738,5.362397,5.264738,5.362397,5.2645,5.3621,5.2645,5.3621
2,2020-09-14,5.326885,5.344641,5.211469,5.255860,5.3339,5.3517,5.2183,5.2628
3,2020-09-15,5.238104,5.371276,5.238104,5.255860,5.2021,5.3344,5.2021,5.2198
4,2020-09-16,5.300250,5.353519,5.282494,5.335763,5.2620,5.3149,5.2444,5.2973
...,...,...,...,...,...,...,...,...,...
1268,2025-09-04,13.600000,14.220000,13.600000,14.100000,6.4194,6.7121,6.4194,6.6554
1269,2025-09-05,14.140000,14.140000,13.940000,14.020000,6.7356,6.7356,6.6403,6.6784
1270,2025-09-08,13.900000,14.260000,13.900000,14.120000,6.6029,6.7739,6.6029,6.7074
1271,2025-09-09,14.220000,14.220000,14.040000,14.080000,6.7092,6.7092,6.6243,6.6432
1272,2025-09-10,14.200000,14.200000,14.040000,14.040000,6.6893,6.6893,6.6139,6.6139

In [97]:
handler.list_available_data()

{'A2A.MI': {'rows': 1273,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2020-09-10 00:00:00 to 2025-09-10 00:00:00',
  'missing_values': np.int64(0)},
 'FTSEMIB.MI': {'rows': 1273,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2020-09-10 00:00:00 to 2025-09-10 00:00:00',
  'missing_values': np.int64(0)},
 'CEM.MI': {'rows': 1273,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2020-09-10 00:00:00 to 2025-09-10 00:00:00',
  'missing_values': np.int64(0)},
 'BZU.MI': {'rows': 1273,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2020-09-10 00:00:00 to 2025-09-10 00:00:00',
  'missing_values': np.int64(0)}}

In [98]:
# Get combined closing prices
symbols = ['A2A.MI', 'BZU.MI', 'CEM.MI']
combined_closes = handler.get_multiple_symbols_data(symbols)
combined_closes

           date    A2A.MI     BZU.MI     CEM.MI
0    2020-09-10  0.958323  18.752821   5.326885
1    2020-09-11  0.963763  19.056473   5.362397
2    2020-09-14  0.958711  19.065676   5.255860
3    2020-09-15  0.968038  19.231304   5.255860
4    2020-09-16  0.959877  19.452143   5.335763
...         ...       ...        ...        ...
1268 2025-09-04  2.116000  44.560001  14.100000
1269 2025-09-05  2.127000  44.240002  14.020000
1270 2025-09-08  2.106000  45.160000  14.120000
1271 2025-09-09  2.112000  45.680000  14.080000
1272 2025-09-10  2.102000  45.540001  14.040000

[1273 rows x 4 columns]

In [99]:
handler.data

{'A2A.MI': Price           open      high       low     close   volume
 Date
 2020-09-10  0.974644  0.977753  0.952882  0.958323  9705867
 2020-09-11  0.962209  0.969981  0.956768  0.963763  6708910
 2020-09-14  0.969981  0.969981  0.955602  0.958711  5094421
 2020-09-15  0.961043  0.971147  0.952493  0.968038  6821368
 2020-09-16  0.964152  0.967261  0.954825  0.959877  6329082
 ...              ...       ...       ...       ...      ...
 2025-09-04  2.098000  2.130000  2.096000  2.116000  6425903
 2025-09-05  2.118000  2.134000  2.109000  2.127000  5181825
 2025-09-08  2.128000  2.131000  2.106000  2.106000  5032625
 2025-09-09  2.103000  2.114000  2.102000  2.112000  5528723
 2025-09-10  2.111000  2.111000  2.101000  2.102000   498197

 [1273 rows x 5 columns],
 'FTSEMIB.MI': Price               open          high           low         close     volume
 Date
 2020-09-10  19786.000000  19971.000000  19692.000000  19820.000000  462606700
 2020-09-11  19790.000000  19876.000000  19698.000000  19821.000000  357726000
 2020-09-14  19943.000000  19968.000000  19725.000000  19794.000000  270291800
 2020-09-15  19831.000000  20043.000000  19718.000000  19957.000000  337754900
 2020-09-16  19982.000000  20033.000000  19803.000000  19964.000000  338233900
 ...                  ...           ...           ...           ...        ...
 2025-09-04  41843.000000  42089.000000  41716.000000  41990.000000  471872200
 2025-09-05  42157.000000  42203.000000  41468.000000  41608.000000  354227700
 2025-09-08  41815.000000  41879.000000  41628.000000  41724.000000  307688100
 2025-09-09  41844.000000  42086.000000  41752.000000  42008.000000  420502200
 2025-09-10  42079.011719  42144.171875  42004.390625  42073.949219          0

 [1273 rows x 5 columns],
 'CEM.MI': Price            open       high        low      close  volume
 Date
 2020-09-10   5.344641   5.371276   5.318006   5.326885   29644
 2020-09-11   5.264738   5.362397   5.264738   5.362397   12766
 2020-09-14   5.326885   5.344641   5.211469   5.255860   40421
 2020-09-15   5.238104   5.371276   5.238104   5.255860  126438
 2020-09-16   5.300250   5.353519   5.282494   5.335763   55672
 ...               ...        ...        ...        ...     ...
 2025-09-04  13.600000  14.220000  13.600000  14.100000   66795
 2025-09-05  14.140000  14.140000  13.940000  14.020000   40872
 2025-09-08  13.900000  14.260000  13.900000  14.120000   21513
 2025-09-09  14.220000  14.220000  14.040000  14.080000   18394
 2025-09-10  14.200000  14.200000  14.040000  14.040000    1359

 [1273 rows x 5 columns],
 'BZU.MI': Price            open       high        low      close  volume
 Date
 2020-09-10  18.706814  18.927651  18.513581  18.752821  438075
 2020-09-11  18.651604  19.111684  18.651604  19.056473  301722
 2020-09-14  19.212901  19.268112  18.844838  19.065676  291651
 2020-09-15  19.130088  19.369328  19.065675  19.231304  232755
 2020-09-16  19.185298  19.498152  19.185298  19.452143  329812
 ...               ...        ...        ...        ...     ...
 2025-09-04  43.480000  44.660000  43.180000  44.560001  399567
 2025-09-05  44.720001  44.919998  44.119999  44.240002  253959
 2025-09-08  44.419998  45.320000  44.400002  45.160000  240982
 2025-09-09  45.160000  45.939999  44.980000  45.680000  486182
 2025-09-10  45.500000  45.779999  45.500000  45.540001   26981

 [1273 rows x 5 columns]}

In [100]:
# Initialize with custom chunk size
handler = YFinanceDataHandler(cache_dir="./cache", chunk_size=3)

# Downloads 100 symbols in 4 chunks of 25 each
symbols = ['BRE.MI', 'CPR.MI', 'IG.MI', 'IP.MI', 'AMP.MI', 'MONC.MI', 'A2A.MI', 'CEM.MI', 'BZU.MI'] 
handler.download_data(symbols, period='5y')

2025-09-10 10:03:27,743 - INFO - Loaded BRE.MI from cache
2025-09-10 10:03:27,747 - INFO - Loaded CPR.MI from cache
2025-09-10 10:03:27,751 - INFO - Loaded IG.MI from cache
2025-09-10 10:03:27,754 - INFO - Loaded IP.MI from cache
2025-09-10 10:03:27,757 - INFO - Loaded AMP.MI from cache
2025-09-10 10:03:27,760 - INFO - Loaded MONC.MI from cache
2025-09-10 10:03:27,763 - INFO - Loaded A2A.MI from cache
2025-09-10 10:03:27,768 - INFO - Loaded CEM.MI from cache
2025-09-10 10:03:27,772 - INFO - Loaded BZU.MI from cache
2025-09-10 10:03:27,774 - INFO - Cache hits: 9, Downloads needed: 0

{'BRE.MI': Price           open      high       low     close   volume
 Date
 2020-09-10  7.324349  7.491011  7.298034  7.491011   714718
 2020-09-11  7.455925  7.648900  7.394522  7.605042   799850
 2020-09-14  7.719073  7.973452  7.561184  7.973452  1115339
 2020-09-15  7.982225  7.990996  7.618200  7.618200  1057007
 2020-09-16  7.644515  7.644515  7.526098  7.574341   407579
 ...              ...       ...       ...       ...      ...
 2025-09-04  9.110000  9.250000  9.110000  9.155000   195616
 2025-09-05  9.250000  9.315000  9.175000  9.200000   196214
 2025-09-08  9.200000  9.300000  9.195000  9.280000   135134
 2025-09-09  9.325000  9.380000  9.200000  9.220000   146606
 2025-09-10  9.195000  9.265000  9.170000  9.240000     7379

 [1273 rows x 5 columns],
 'CPR.MI': Price           open      high       low     close    volume
 Date
 2020-09-10  8.788492  8.923699  8.690949  8.714128   3055155
 2020-09-11  8.698676  8.880240  8.698676  8.821328   2014549
 2020-09-14  8.866719  8.866719  8.794287  8.821328   1105168
 2020-09-15  8.783664  8.971988  8.750827  8.947845   1571040
 2020-09-16  8.943014  9.028967  8.919836  9.014481   1940742
 ...              ...       ...       ...       ...       ...
 2025-09-04  6.180000  6.230000  6.104000  6.114000   3116979
 2025-09-05  6.114000  6.190000  6.100000  6.120000   2845612
 2025-09-08  6.140000  6.146000  5.952000  5.978000   6336698
 2025-09-09  5.980000  5.982000  5.720000  5.834000  14903269
 2025-09-10  5.826000  5.828000  5.768000  5.772000   1097891

 [1273 rows x 5 columns],
 'IG.MI': Price           open      high       low     close   volume
 Date
 2020-09-10  4.159119  4.193842  4.139828  4.186126  1962131
 2020-09-11  4.186126  4.228566  4.159119  4.189984  1569022
 2020-09-14  4.220850  4.220850  4.116679  4.116679  1454082
 2020-09-15  4.116679  4.174552  4.093530  4.174552  1645876
 2020-09-16  4.151403  4.186126  4.132112  4.186126  1519105
 ...              ...       ...       ...       ...      ...
 2025-09-04  7.540000  7.665000  7.535000  7.635000  1930074
 2025-09-05  7.635000  7.655000  7.590000  7.625000  1713494
 2025-09-08  7.610000  7.625000  7.570000  7.575000  1162640
 2025-09-09  7.600000  7.605000  7.545000  7.585000  1685259
 2025-09-10  7.560000  7.575000  7.520000  7.535000   156789

 [1273 rows x 5 columns],
 'IP.MI': Price            open       high        low      close  volume
 Date
 2020-09-10  30.036790  30.365167  30.017474  30.191320  141581
 2020-09-11  30.133374  30.403800  29.959527  30.384483  132143
 2020-09-14  30.519698  31.099186  30.442433  30.577646  303576
 2020-09-15  30.596963  30.770810  30.287903  30.461750  132252
 2020-09-16  30.577645  30.790123  30.056106  30.133371  223760
 ...               ...        ...        ...        ...     ...
 2025-09-04  39.700001  40.040001  39.680000  39.680000  116100
 2025-09-05  39.959999  40.840000  39.939999  40.680000  224260
 2025-09-08  40.639999  41.520000  40.639999  41.500000  169906
 2025-09-09  41.580002  41.840000  40.700001  40.700001  170244
 2025-09-10  40.840000  40.980000  40.540001  40.599998   13198

 [1273 rows x 5 columns],
 'AMP.MI': Price            open       high        low      close   volume
 Date
 2020-09-10  27.322011  27.541656  27.073715  27.446157   465250
 2020-09-11  27.369758  28.362939  27.360208  28.181492   619113
 2020-09-14  28.410690  28.525289  28.152845  28.353392   689548
 2020-09-15  28.267440  28.687632  27.828148  28.506186   503698
 2020-09-16  28.506186  29.031425  28.267441  28.993227   638625
 ...               ...        ...        ...        ...      ...
 2025-09-04  15.100000  15.365000  15.025000  15.095000  1085947
 2025-09-05  15.160000  15.400000  15.120000  15.280000  1014212
 2025-09-08  15.395000  15.665000  15.140000  15.665000  1390244
 2025-09-09  15.750000  15.800000  15.495000  15.525000  1274928
 2025-09-10  15.535000  15.545000  15.425000  15.440000    94544

 [1273 rows x 5 columns],
 'MONC.MI': Price            open       high        low      close   volume
 Date
 2020-09-10  31.711082  31.840214  31.388251  31.646517   612049
 2020-09-11  31.664967  32.375189  31.637293  32.181492   816452
 2020-09-14  32.467420  32.679565  32.227602  32.476643   701870
 2020-09-15  32.476646  34.247598  32.476646  33.887875  1499655
 2020-09-16  34.109244  35.345220  34.044679  34.985497  1409488
 ...               ...        ...        ...        ...      ...
 2025-09-04  49.400002  49.560001  48.200001  48.200001   755928
 2025-09-05  48.189999  48.189999  46.459999  47.049999  1797877
 2025-09-08  47.200001  47.200001  46.630001  46.869999   714524
 2025-09-09  46.889999  47.799999  46.759998  47.549999   838766
 2025-09-10  47.459999  48.689999  47.299999  48.400002    83840

 [1273 rows x 5 columns],
 'A2A.MI': Price           open      high       low     close   volume
 Date
 2020-09-10  0.974644  0.977753  0.952882  0.958323  9705867
 2020-09-11  0.962209  0.969981  0.956768  0.963763  6708910
 2020-09-14  0.969981  0.969981  0.955602  0.958711  5094421
 2020-09-15  0.961043  0.971147  0.952493  0.968038  6821368
 2020-09-16  0.964152  0.967261  0.954825  0.959877  6329082
 ...              ...       ...       ...       ...      ...
 2025-09-04  2.098000  2.130000  2.096000  2.116000  6425903
 2025-09-05  2.118000  2.134000  2.109000  2.127000  5181825
 2025-09-08  2.128000  2.131000  2.106000  2.106000  5032625
 2025-09-09  2.103000  2.114000  2.102000  2.112000  5528723
 2025-09-10  2.111000  2.111000  2.101000  2.102000   498197

 [1273 rows x 5 columns],
 'CEM.MI': Price            open       high        low      close  volume
 Date
 2020-09-10   5.344641   5.371276   5.318006   5.326885   29644
 2020-09-11   5.264738   5.362397   5.264738   5.362397   12766
 2020-09-14   5.326885   5.344641   5.211469   5.255860   40421
 2020-09-15   5.238104   5.371276   5.238104   5.255860  126438
 2020-09-16   5.300250   5.353519   5.282494   5.335763   55672
 ...               ...        ...        ...        ...     ...
 2025-09-04  13.600000  14.220000  13.600000  14.100000   66795
 2025-09-05  14.140000  14.140000  13.940000  14.020000   40872
 2025-09-08  13.900000  14.260000  13.900000  14.120000   21513
 2025-09-09  14.220000  14.220000  14.040000  14.080000   18394
 2025-09-10  14.200000  14.200000  14.040000  14.040000    1359

 [1273 rows x 5 columns],
 'BZU.MI': Price            open       high        low      close  volume
 Date
 2020-09-10  18.706814  18.927651  18.513581  18.752821  438075
 2020-09-11  18.651604  19.111684  18.651604  19.056473  301722
 2020-09-14  19.212901  19.268112  18.844838  19.065676  291651
 2020-09-15  19.130088  19.369328  19.065675  19.231304  232755
 2020-09-16  19.185298  19.498152  19.185298  19.452143  329812
 ...               ...        ...        ...        ...     ...
 2025-09-04  43.480000  44.660000  43.180000  44.560001  399567
 2025-09-05  44.720001  44.919998  44.119999  44.240002  253959
 2025-09-08  44.419998  45.320000  44.400002  45.160000  240982
 2025-09-09  45.160000  45.939999  44.980000  45.680000  486182
 2025-09-10  45.500000  45.779999  45.500000  45.540001   26981

 [1273 rows x 5 columns]}

In [101]:
handler.list_available_data()

{'BRE.MI': {'rows': 1273,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2020-09-10 00:00:00 to 2025-09-10 00:00:00',
  'missing_values': np.int64(0)},
 'CPR.MI': {'rows': 1273,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2020-09-10 00:00:00 to 2025-09-10 00:00:00',
  'missing_values': np.int64(0)},
 'IG.MI': {'rows': 1273,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2020-09-10 00:00:00 to 2025-09-10 00:00:00',
  'missing_values': np.int64(0)},
 'IP.MI': {'rows': 1273,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2020-09-10 00:00:00 to 2025-09-10 00:00:00',
  'missing_values': np.int64(0)},
 'AMP.MI': {'rows': 1273,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2020-09-10 00:00:00 to 2025-09-10 00:00:00',
  'missing_values': np.int64(0)},
 'MONC.MI': {'rows': 1273,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2020-09-10 00:00:00 to 2025-09-10 00:00:00',
  'missing_values': np.int64(0)},
 'A2A.MI': {'rows': 1273,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2020-09-10 00:00:00 to 2025-09-10 00:00:00',
  'missing_values': np.int64(0)},
 'CEM.MI': {'rows': 1273,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2020-09-10 00:00:00 to 2025-09-10 00:00:00',
  'missing_values': np.int64(0)},
 'BZU.MI': {'rows': 1273,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2020-09-10 00:00:00 to 2025-09-10 00:00:00',
  'missing_values': np.int64(0)}}

In [102]:
handler.symbols

['BRE.MI',
 'CPR.MI',
 'IG.MI',
 'IP.MI',
 'AMP.MI',
 'MONC.MI',
 'A2A.MI',
 'CEM.MI',
 'BZU.MI']

In [103]:

row_data = handler.get_combined_data(handler.symbols)
row_data

Price       Date   symbol       open       high        low      close   volume
0     2020-09-10   A2A.MI   0.974644   0.977753   0.952882   0.958323  9705867
1     2020-09-10   AMP.MI  27.322011  27.541656  27.073715  27.446157   465250
2     2020-09-10   BRE.MI   7.324349   7.491011   7.298034   7.491011   714718
3     2020-09-10   BZU.MI  18.706814  18.927651  18.513581  18.752821   438075
4     2020-09-10   CEM.MI   5.344641   5.371276   5.318006   5.326885    29644
...          ...      ...        ...        ...        ...        ...      ...
11452 2025-09-10   CEM.MI  14.200000  14.200000  14.040000  14.040000     1359
11453 2025-09-10   CPR.MI   5.826000   5.828000   5.768000   5.772000  1097891
11454 2025-09-10    IG.MI   7.560000   7.575000   7.520000   7.535000   156789
11455 2025-09-10    IP.MI  40.840000  40.980000  40.540001  40.599998    13198
11456 2025-09-10  MONC.MI  47.459999  48.689999  47.299999  48.400002    83840

[11457 rows x 7 columns]

In [106]:

# First run: Downloads AAPL, caches it
handler.download_data(['OVS.MI', 'AVIO.MI'], use_cache=True, cache_only_new=True, period='5y')

2025-09-10 10:07:00,378 - INFO - Loaded OVS.MI from cache
2025-09-10 10:07:00,380 - INFO - Cache hits: 1, Downloads needed: 1
2025-09-10 10:07:00,380 - INFO - Downloading 1 symbols in 1 chunks of 3
2025-09-10 10:07:00,380 - INFO - Processing chunk 1/1: ['AVIO.MI']
2025-09-10 10:07:00,659 - INFO - Cached data for AVIO.MI

{'OVS.MI':                                open      high       low     close   volume  \
 Date
 2020-09-10 00:00:00+02:00  0.699374  0.722234  0.691753  0.706993  1604251
 2020-09-11 00:00:00+02:00  0.697257  0.725621  0.697257  0.713344  1269454
 2020-09-14 00:00:00+02:00  0.719694  0.729008  0.702337  0.707840  1079159
 2020-09-15 00:00:00+02:00  0.701490  0.733241  0.697256  0.731124  2148198
 2020-09-16 00:00:00+02:00  0.725621  0.732394  0.711227  0.730278  1326414
 ...                             ...       ...       ...       ...      ...
 2025-09-04 00:00:00+02:00  4.024000  4.076000  4.000000  4.072000   364167
 2025-09-05 00:00:00+02:00  4.062000  4.134000  4.006000  4.062000   341655
 2025-09-08 00:00:00+02:00  4.062000  4.082000  4.002000  4.068000   244359
 2025-09-09 00:00:00+02:00  4.090000  4.116000  4.054000  4.090000   297667
 2025-09-10 00:00:00+02:00  4.124000  4.136000  4.090000  4.100000    58870

                            dividends  stock splits
 Date
 2020-09-10 00:00:00+02:00        0.0           0.0
 2020-09-11 00:00:00+02:00        0.0           0.0
 2020-09-14 00:00:00+02:00        0.0           0.0
 2020-09-15 00:00:00+02:00        0.0           0.0
 2020-09-16 00:00:00+02:00        0.0           0.0
 ...                              ...           ...
 2025-09-04 00:00:00+02:00        0.0           0.0
 2025-09-05 00:00:00+02:00        0.0           0.0
 2025-09-08 00:00:00+02:00        0.0           0.0
 2025-09-09 00:00:00+02:00        0.0           0.0
 2025-09-10 00:00:00+02:00        0.0           0.0

 [1273 rows x 7 columns],
 'AVIO.MI':                                 open       high        low      close  volume  \
 Date
 2020-09-10 00:00:00+02:00  14.605128  14.624021  14.378399  14.378399   18160
 2020-09-11 00:00:00+02:00  14.472869  14.510657  14.265035  14.265035   25571
 2020-09-14 00:00:00+02:00  14.416187  14.529552  14.246140  14.472869   27592
 2020-09-15 00:00:00+02:00  14.227246  14.321716  13.584847  13.735999  176235
 2020-09-16 00:00:00+02:00  13.773788  13.792682  13.509271  13.547059   59281
 ...                              ...        ...        ...        ...     ...
 2025-09-04 00:00:00+02:00  36.299999  36.700001  35.500000  35.799999  218137
 2025-09-05 00:00:00+02:00  36.049999  36.700001  35.700001  36.500000  242242
 2025-09-08 00:00:00+02:00  36.849998  37.849998  35.849998  36.099998  286613
 2025-09-09 00:00:00+02:00  36.000000  36.599998  35.400002  36.450001  126888
 2025-09-10 00:00:00+02:00  37.049999  37.599998  36.299999  37.000000   79376

                            dividends  stock splits
 Date
 2020-09-10 00:00:00+02:00        0.0           0.0
 2020-09-11 00:00:00+02:00        0.0           0.0
 2020-09-14 00:00:00+02:00        0.0           0.0
 2020-09-15 00:00:00+02:00        0.0           0.0
 2020-09-16 00:00:00+02:00        0.0           0.0
 ...                              ...           ...
 2025-09-04 00:00:00+02:00        0.0           0.0
 2025-09-05 00:00:00+02:00        0.0           0.0
 2025-09-08 00:00:00+02:00        0.0           0.0
 2025-09-09 00:00:00+02:00        0.0           0.0
 2025-09-10 00:00:00+02:00        0.0           0.0

 [1273 rows x 7 columns]}

In [107]:
handler.symbols
# handler.get_data(symbol='FTSEMIB.MI')

['BRE.MI',
 'CPR.MI',
 'IG.MI',
 'IP.MI',
 'AMP.MI',
 'MONC.MI',
 'A2A.MI',
 'CEM.MI',
 'BZU.MI',
 'OVS.MI',
 'AVIO.MI']

In [108]:
handler.get_data(symbol='A2A.MI')

Price           open      high       low     close   volume
Date
2020-09-10  0.974644  0.977753  0.952882  0.958323  9705867
2020-09-11  0.962209  0.969981  0.956768  0.963763  6708910
2020-09-14  0.969981  0.969981  0.955602  0.958711  5094421
2020-09-15  0.961043  0.971147  0.952493  0.968038  6821368
2020-09-16  0.964152  0.967261  0.954825  0.959877  6329082
...              ...       ...       ...       ...      ...
2025-09-04  2.098000  2.130000  2.096000  2.116000  6425903
2025-09-05  2.118000  2.134000  2.109000  2.127000  5181825
2025-09-08  2.128000  2.131000  2.106000  2.106000  5032625
2025-09-09  2.103000  2.114000  2.102000  2.112000  5528723
2025-09-10  2.111000  2.111000  2.101000  2.102000   498197

[1273 rows x 5 columns]

In [109]:
stock_data = handler.calculate_relative_prices(symbol='A2A.MI', benchmark_symbol='FTSEMIB.MI')
stock_data

2025-09-10 10:07:27,456 - INFO - Downloading benchmark data for FTSEMIB.MI
2025-09-10 10:07:27,458 - INFO - Cache hits: 0, Downloads needed: 1
2025-09-10 10:07:27,458 - INFO - Downloading 1 symbols in 1 chunks of 3
2025-09-10 10:07:27,458 - INFO - Processing chunk 1/1: ['FTSEMIB.MI']
2025-09-10 10:07:27,545 - INFO - Cached data for FTSEMIB.MI
2025-09-10 10:07:27,549 - ERROR - Error calculating relative prices: You are trying to merge on datetime64[ns] and datetime64[ns, Europe/Rome] columns for key 'date'. If you wish to proceed you should use pd.concat

ValueError: You are trying to merge on datetime64[ns] and datetime64[ns, Europe/Rome] columns for key 'date'. If you wish to proceed you should use pd.concat

In [54]:
from algoshort.regime_bo import RegimeBO

# Initialize Regime class
regime = RegimeBO(ohlc_stock=stock_data)
regime.compute_regime(regime_type='breakout', window=150, relative=True, inplace=True)

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,rlo_150,rbo_150
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,NaN,NaN
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,NaN,NaN
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,NaN,NaN
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,NaN,NaN
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,1.6860,-1.0
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,1.6648,-1.0
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,1.6648,-1.0
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,1.6648,-1.0
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,1.6648,-1.0

In [55]:
regime.compute_regime(regime_type='turtle', fast_window=20, window=50, relative=True, inplace=True)
stock_data

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,rlo_150,rbo_150,rhi_50,rlo_50,rhi_20,rlo_20,rbo_50,rbo_20,rtt_5020
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,1.6860,-1.0,1.9851,1.6860,1.7898,1.6860,-1.0,-1.0,-1
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,1.6648,-1.0,1.9851,1.6648,1.7831,1.6648,-1.0,-1.0,-1
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,1.6648,-1.0,1.9851,1.6648,1.7528,1.6648,-1.0,-1.0,-1
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,1.6648,-1.0,1.9851,1.6648,1.7487,1.6648,-1.0,-1.0,-1
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,1.6648,-1.0,1.9851,1.6648,1.7465,1.6648,-1.0,-1.0,-1

In [56]:
# from algoshort.regime_bo import RegimeBO

# # Initialize Regime class
# regime = RegimeBO(ohlc_stock=stock_data)

# # Absolute breakout regime (window=5)
# abs_breakout = regime.signal_bo(20)
# abs_breakout

In [57]:
# Relative breakout regime (window=5)
# rel_breakout = regime.signal_bo(window=5, relative=True)
# rel_breakout

In [58]:
# Absolute turtle trader regime
# abs_tt = regime.signal_tt(slow_window=50, fast_window=20)
# abs_tt

In [59]:
# Relative turtle trader regime
# rel_tt = regime.signal_tt(slow_window=50, fast_window=20, relative=True)
# rel_tt

In [60]:
from algoshort.regime_ma import TripleMACrossoverRegime

regime = TripleMACrossoverRegime(ohlc_stock=stock_data)

In [61]:
regime.compute_ma_regime(ma_type='sma', short_window=50, medium_window=100, long_window=150, inplace=True, relative=True)
regime.compute_ma_regime(ma_type='ema', short_window=50, medium_window=100, long_window=150, inplace=True, relative=True)
stock_data

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,...,rsma_50100,rsma_long_150,rsma_100150,rsma_50100150,rema_short_50,rema_medium_100,rema_50100,rema_long_150,rema_100150,rema_50100150
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,...,-1.0,1.853201,-1.0,1.0,1.776955,1.823331,-1.0,1.851363,-1.0,1.0
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,...,-1.0,1.851066,-1.0,1.0,1.773470,1.820653,-1.0,1.849201,-1.0,1.0
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,...,-1.0,1.848930,-1.0,1.0,1.770303,1.818119,-1.0,1.847128,-1.0,1.0
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,...,-1.0,1.846887,-1.0,1.0,1.768216,1.816119,-1.0,1.845406,-1.0,1.0
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,...,-1.0,1.844903,-1.0,1.0,1.765482,1.813790,-1.0,1.843460,-1.0,1.0

In [62]:
# Absolute SMA Crossover
# df_sma = regime.signal_ma(ma_type='sma', short_window=5, medium_window=10, long_window=20)
# df_sma

In [63]:
# Relative SMA Crossover
# df_sma = regime.signal_ma(ma_type='sma', short_window=5, medium_window=10, long_window=20, relative=True)
# df_sma

In [64]:
# Absolute EMA Crossover
# df_ema = regime.signal_ma(ma_type='ema', short_window=5, medium_window=10, long_window=20)
# df_ema

In [65]:
# Relative EMA Crossover
# df_ema = regime.signal_ma(ma_type='ema', short_window=5, medium_window=10, long_window=20, relative=True)
# df_ema

In [66]:
# df = stock_data.copy()
# regime.compute_ma_regime(ma_type='sma', short_window=5, medium_window=10, long_window=20, 
#                         relative=False, inplace=True)

In [67]:
# data = regime.compute_ma_regime(ma_type='ema', short_window=5, medium_window=10, long_window=20, 
#                         relative=False, inplace=True)
# data

In [68]:
from algoshort.returns import ReturnsCalculator
returns_calc = ReturnsCalculator(ohlc_stock=stock_data)
stock_data = returns_calc.get_returns(df=stock_data, signal='rsma_50100150')
stock_data = returns_calc.get_returns(df=stock_data, signal='rema_50100150')
stock_data = returns_calc.get_returns(df=stock_data, signal='rtt_5020')
stock_data = returns_calc.get_returns(df=stock_data, signal='rbo_150')
stock_data

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,...,rtt_5020_returns,rtt_5020_log_returns,rtt_5020_cumul,rbo_150_chg1D,rbo_150_chg1D_fx,rbo_150_PL_cum,rbo_150_PL_cum_fx,rbo_150_returns,rbo_150_log_returns,rbo_150_cumul
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,...,-0.000000,-0.000000,0.000000,-0.000,-0.000,0.000000,0.000000,-0.000000,-0.000000,0.000000
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,...,0.000000,0.000000,0.000000,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,...,-0.000000,-0.000000,0.000000,-0.000,-0.000,0.000000,0.000000,-0.000000,-0.000000,0.000000
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,...,-0.000000,-0.000000,0.000000,-0.000,-0.000,0.000000,0.000000,-0.000000,-0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,...,0.015903,0.016030,0.050408,0.034,0.034,-0.026312,-0.026312,0.015903,0.016030,-0.012506
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,...,0.001901,0.001903,0.052409,0.004,0.004,-0.022312,-0.022312,0.001901,0.001903,-0.010625
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,...,-0.007619,-0.007590,0.044451,-0.016,-0.016,-0.038312,-0.038312,-0.007619,-0.007590,-0.018106
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,...,-0.005199,-0.005185,0.039049,-0.011,-0.011,-0.049312,-0.049312,-0.005199,-0.005185,-0.023184
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,...,0.009403,0.009447,0.048912,0.020,0.020,-0.029312,-0.029312,0.009403,0.009447,-0.013912

In [71]:
from algoshort.strategy_metrics import StrategyMetrics
strategy_metrics = StrategyMetrics(stock_data)

In [74]:
stock_data.columns

Index(['date', 'open', 'high', 'low', 'close', 'ropen', 'rhigh', 'rlow',
       'rclose', 'rhi_150', 'rlo_150', 'rbo_150', 'rhi_50', 'rlo_50', 'rhi_20',
       'rlo_20', 'rbo_50', 'rbo_20', 'rtt_5020', 'rsma_short_50',
       'rsma_medium_100', 'rsma_50100', 'rsma_long_150', 'rsma_100150',
       'rsma_50100150', 'rema_short_50', 'rema_medium_100', 'rema_50100',
       'rema_long_150', 'rema_100150', 'rema_50100150', 'rsma_50100150_chg1D',
       'rsma_50100150_chg1D_fx', 'rsma_50100150_PL_cum',
       'rsma_50100150_PL_cum_fx', 'rsma_50100150_returns',
       'rsma_50100150_log_returns', 'rsma_50100150_cumul',
       'rema_50100150_chg1D', 'rema_50100150_chg1D_fx', 'rema_50100150_PL_cum',
       'rema_50100150_PL_cum_fx', 'rema_50100150_returns',
       'rema_50100150_log_returns', 'rema_50100150_cumul', 'rtt_5020_chg1D',
       'rtt_5020_chg1D_fx', 'rtt_5020_PL_cum', 'rtt_5020_PL_cum_fx',
       'rtt_5020_returns', 'rtt_5020_log_returns', 'rtt_5020_cumul',
       'rbo_150_chg1D', 'rbo_150_chg1D_fx', 'rbo_150_PL_cum',
       'rbo_150_PL_cum_fx', 'rbo_150_returns', 'rbo_150_log_returns',
       'rbo_150_cumul'],
      dtype='object', name='Price')

In [78]:
# Compute risk metrics
stock_data = strategy_metrics.get_risk_metrics(
    df=stock_data,
    signal='rsma_50100150',
    window=252,
    percentile=0.05,
    limit=5
)

# Compute risk metrics
stock_data = strategy_metrics.get_risk_metrics(
    df=stock_data,
    signal='rema_50100150',
    window=252,
    percentile=0.05,
    limit=5
)

# Compute risk metrics
stock_data = strategy_metrics.get_risk_metrics(
    df=stock_data,
    signal='rtt_5020',
    window=252,
    percentile=0.05,
    limit=5
)

# Compute risk metrics
stock_data = strategy_metrics.get_risk_metrics(
    df=stock_data,
    signal='rbo_150',
    window=252,
    percentile=0.05,
    limit=5
)

In [79]:
from algoshort.position_sizing import PositionSizing
position_sizing = PositionSizing(stock_data)

In [82]:
position_sizing.get_risk_appetite(stock_data, price_col='close', inplace=True)

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,...,rbo_150_pr,rbo_150_tr_roll,rbo_150_tr,peak_eqty,constant_risk,convex_risk,concave_risk,tolerance,drawdown,close_risk_appetite
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,...,NaN,NaN,NaN,2.002119,0.010011,0.015016,0.015016,1.801907,0.000000,-0.007500
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,...,NaN,NaN,NaN,2.002119,0.010006,0.014930,0.015006,1.801907,-0.000478,-0.007486
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,...,NaN,NaN,NaN,2.007858,0.010039,0.015014,0.015054,1.807072,0.000000,-0.007492
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,...,NaN,NaN,NaN,2.007858,0.009958,0.014055,0.014942,1.807072,-0.008099,-0.007327
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,...,NaN,NaN,NaN,2.007858,0.009905,0.013030,0.014810,1.807072,-0.013340,-0.007138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,...,0.960768,NaN,0.0,2.361000,0.010520,0.005914,0.011377,2.124900,-0.108852,-0.002999
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,...,0.966701,NaN,0.0,2.361000,0.010500,0.005906,0.010685,2.124900,-0.110546,-0.002833
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,...,0.944355,NaN,0.0,2.361000,0.010580,0.005904,0.010081,2.124900,-0.103770,-0.002722
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,...,0.929675,NaN,0.0,2.361000,0.010635,0.005903,0.009671,2.124900,-0.099111,-0.002663
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,...,0.957999,NaN,0.0,2.361000,0.010535,0.005903,0.009194,2.124900,-0.107582,-0.002608

In [83]:
position_sizing.get_equity_risk(stock_data, inplace=True, tolerance=-0.1,
    mn=-0.0025,
    mx=-0.0075,
    span=5)

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,...,rbo_150_pr,rbo_150_tr_roll,rbo_150_tr,peak_eqty,constant_risk,convex_risk,concave_risk,tolerance,drawdown,close_risk_appetite
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,...,NaN,NaN,NaN,2.002119,0.010011,0.015016,0.015016,1.801907,0.000000,-0.007500
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,...,NaN,NaN,NaN,2.002119,0.010006,0.014930,0.015006,1.801907,-0.000478,-0.007486
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,...,NaN,NaN,NaN,2.007858,0.010039,0.015014,0.015054,1.807072,0.000000,-0.007492
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,...,NaN,NaN,NaN,2.007858,0.009958,0.014055,0.014942,1.807072,-0.008099,-0.007327
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,...,NaN,NaN,NaN,2.007858,0.009905,0.013030,0.014810,1.807072,-0.013340,-0.007138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,...,0.960768,NaN,0.0,2.361000,0.010520,0.005914,0.011377,2.124900,-0.108852,-0.002999
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,...,0.966701,NaN,0.0,2.361000,0.010500,0.005906,0.010685,2.124900,-0.110546,-0.002833
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,...,0.944355,NaN,0.0,2.361000,0.010580,0.005904,0.010081,2.124900,-0.103770,-0.002722
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,...,0.929675,NaN,0.0,2.361000,0.010635,0.005903,0.009671,2.124900,-0.099111,-0.002663
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,...,0.957999,NaN,0.0,2.361000,0.010535,0.005903,0.009194,2.124900,-0.107582,-0.002608

In [89]:
position_sizing.calculate_position_size(
    df=stock_data,
    signal='rtt_5020',
    price_col='close',
    equity_col = 'close',
    stop_loss_col='low',
    inplace=True
)

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,...,drawdown,close_risk_appetite,rtt_5020_peak_equity,rtt_5020_risk_appetite,rtt_5020_risk_budget,rtt_5020_risk_unit,rtt_5020_shares,rtt_5020_equity_risk_shares,rtt_5020_target_price,rtt_5020_partial_exit
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,...,0.000000,-0.007500,2.002119,-0.007500,-0.015016,0.019132,-100.0,NaN,2.040382,-50.0
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,...,-0.000478,-0.007486,2.002119,-0.007486,-0.014987,0.004783,-100.0,NaN,2.010728,-50.0
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,...,0.000000,-0.007492,2.007858,-0.007492,-0.015044,0.029654,-100.0,NaN,2.067166,-50.0
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,...,-0.008099,-0.007327,2.007858,-0.007327,-0.014712,0.000957,-100.0,NaN,1.993509,-50.0
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,...,-0.013340,-0.007138,2.007858,-0.007138,-0.014331,0.002870,-100.0,NaN,1.986813,-50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,...,-0.108852,-0.002999,2.361000,-0.002999,-0.007080,0.006000,-100.0,NaN,2.116000,-50.0
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,...,-0.110546,-0.002833,2.361000,-0.002833,-0.006688,0.029000,-100.0,NaN,2.158000,-50.0
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,...,-0.103770,-0.002722,2.361000,-0.002722,-0.006426,0.020000,-100.0,NaN,2.156000,-50.0
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,...,-0.099111,-0.002663,2.361000,-0.002663,-0.006286,0.018000,-100.0,NaN,2.163000,-50.0
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,...,-0.107582,-0.002608,2.361000,-0.002608,-0.006158,0.001000,-100.0,NaN,2.109000,-50.0

In [90]:
position_sizing.calculate_position_size(
    df=stock_data,
    signal='rbo_150',
    price_col='close',
    equity_col = 'close',
    stop_loss_col='low',
    inplace=True
)

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,...,rtt_5020_target_price,rtt_5020_partial_exit,rbo_150_peak_equity,rbo_150_risk_appetite,rbo_150_risk_budget,rbo_150_risk_unit,rbo_150_shares,rbo_150_equity_risk_shares,rbo_150_target_price,rbo_150_partial_exit
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,...,2.040382,-50.0,2.002119,-0.007500,-0.015016,0.019132,-100.0,NaN,2.040382,-50.0
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,...,2.010728,-50.0,2.002119,-0.007486,-0.014987,0.004783,-100.0,NaN,2.010728,-50.0
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,...,2.067166,-50.0,2.007858,-0.007492,-0.015044,0.029654,-100.0,NaN,2.067166,-50.0
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,...,1.993509,-50.0,2.007858,-0.007327,-0.014712,0.000957,-100.0,NaN,1.993509,-50.0
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,...,1.986813,-50.0,2.007858,-0.007138,-0.014331,0.002870,-100.0,NaN,1.986813,-50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,...,2.116000,-50.0,2.361000,-0.002999,-0.007080,0.006000,-100.0,NaN,2.116000,-50.0
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,...,2.158000,-50.0,2.361000,-0.002833,-0.006688,0.029000,-100.0,NaN,2.158000,-50.0
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,...,2.156000,-50.0,2.361000,-0.002722,-0.006426,0.020000,-100.0,NaN,2.156000,-50.0
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,...,2.163000,-50.0,2.361000,-0.002663,-0.006286,0.018000,-100.0,NaN,2.163000,-50.0
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,...,2.109000,-50.0,2.361000,-0.002608,-0.006158,0.001000,-100.0,NaN,2.109000,-50.0